{% extends 'base.html' %}
{% load static %}

{% block title %}Instagram{% endblock %}

{% block content %}
<div class="reels">
    <!-- Здесь будет контент страницы, например, видео или ленты -->
</div>

<!-- Modal for add messages-->
<div class="modal fade" id="message_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Comments</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="comments">
                    <div class="comment">
                        <div class="d-flex">
                            <div class="img">
                                <!-- Выводим аватарку пользователя -->
                                <img src="{{ avatar_image }}" alt="User Avatar">
                            </div>
                            <div class="content">
                                <div class="person">
                                    <h4>{{ user.username }}</h4>
                                    <span>3j</span>
                                </div>
                                <p>Wow amazing shot</p>
                                <div class="replay">
                                    <button class="replay">replay</button>
                                    <button class="translation">see translation</button>
                                </div>
                                <div class="answers">
                                    <button class="see_comment">
                                        <span class="hide_com">Hide all responses</span>
                                        <span class="show_c"> <span class="line"></span> See the <span> 1 </span> answers</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="like">
                            <img class="not_loved" src="{% static 'images/love.png' %}" alt="Love">
                            <img class="loved" src="{% static 'images/heart.png' %}" alt="Heart">
                            <p> 55</p>
                        </div>
                    </div>
                    <div class="responses">
                        <div class="response comment">
                            <div class="d-flex">
                                <div class="img">
                                    <img src="{{ avatar_image }}" alt="User Avatar">
                                </div>
                                <div class="content">
                                    <div class="person">
                                        <h4>{{ user.username }}</h4>
                                        <span>3j</span>
                                    </div>
                                    <p>Wow amazing shot</p>
                                    <div class="replay">
                                        <button>replay</button>
                                        <button>see translation</button>
                                    </div>
                                </div>
                            </div>
                            <div class="like">
                                <img class="not_loved" src="{% static 'images/love.png' %}" alt="Love">
                                <img class="loved" src="{% static 'images/heart.png' %}" alt="Heart">
                                <p> 55</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <form method="post">
                    <div class="input">
                        <img src="{{ avatar_image }}" alt="User Avatar">
                        <input type="text" id="emoji_comment" placeholder="Add a comment..." />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for sending posts-->
<div class="modal fade" id="send_message_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Share</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="send">
                    <div class="search_person">
                        <p>To:</p>
                        <input type="text" placeholder="Search">
                    </div>
                    <p>Suggested</p>
                    <div class="poeple">
                        <div class="person">
                            <div class="d-flex">
                                <div class="img">
                                    <img src="{{ user_avatar_url }}" alt="User Avatar">
                                </div>
                                <div class="content">
                                    <div class="person">
                                        <h4>{{ user.username }}</h4>
                                        <span>zim ess</span>
                                    </div>
                                </div>
                            </div>
                            <div class="circle">
                                <span></span>
                            </div>
                        </div>
                        <div class="person">
                            <div class="d-flex">
                                <div class="img">
                                    <img src="{{ user_avatar_url }}" alt="User Avatar">
                                </div>
                                <div class="content">
                                    <div class="person">
                                        <h4>{{ user.username }}</h4>
                                        <span>zim ess</span>
                                    </div>
                                </div>
                            </div>
                            <div class="circle">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
